@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("/fonts/Montserrat-Light.woff2") format("woff2"), url("/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat"), local("Montserrat-Regular"), url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat Black"), local("Montserrat-Black"), url("/fonts/Montserrat-Black.woff2") format("woff2"), url("/fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Cy Grotesk";
  font-display: swap;
  src: url("/fonts/cy-grotesk-grand-dark.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExtraCondTrial-Thin.otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrial-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrial-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrial-ExtraBold.otf");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrial-ExtraBoldItalic.otf");
  font-weight: 750;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrial-Heavy.otf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Expanded Trial";
  src: url("/fonts/MullerNextExpandedTrialThinItalic.otf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial";
  src: url("/fonts/MullerNextExtraCondTrial-ExtraBold.otf");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial Heavy";
  src: url("/fonts/MullerNextExtraCondTrial-HeavyItalic.otf") format("opentype"), url("/fonts/MullerNextExtraCondTrial-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial";
  src: url("/fonts/MullerNextExtraCondTrial-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/MullerNextExtraCondTrial-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 750;
  font-style: italic;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial";
  src: url("/fonts/MullerNextExtraCondTrial-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial";
  src: url("/fonts/MullerNextExtraCondTrial-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next ExtraCond Trial";
  src: url("/fonts/MullerNextExtraCondTrialThin.otf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Trial";
  src: url("/fonts/MullerNextTrial-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Trial";
  src: url("/fonts/MullerNextTrial-ExtraBold.otf");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller Next Wide Trial";
  src: url("/fonts/MullerNextTrial-ThinItalic.woff2");
  font-weight: 100;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

body {
  color: #fff;
}

.section {
  background-color: #181818;
  margin-top: -2px;
}

._hide {
  opacity: 0;
  transform: scale(1.5);
}

.element-for-visible {
  transition: opacity 0.8s ease, transform 0.5s ease;
}

.quiet {
  background: #e03638;
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .quiet {
    height: unset;
  }
}
.quiet ._hide {
  opacity: 0;
  transform: translateY(-250%);
}
.quiet__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .quiet__video {
    width: 100vw;
    height: unset;
    top: 60vw;
  }
}
.quiet__content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .quiet__content {
    padding: 5vw 10px;
  }
}
.quiet__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
@media all and (max-width: 767px) {
  .quiet__column {
    width: 100%;
  }
}
.quiet__subtitle {
  font-weight: 300;
  font-size: clamp(1px, 1.8vw, 37px);
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .quiet__subtitle {
    font-size: 13.9vw;
  }
}
.quiet__title-img {
  width: 100%;
  margin: 4% 0 5%;
}
@media all and (max-width: 767px) {
  .quiet__title-img {
    width: 91vw;
    margin: 5vw 0;
  }
}
.quiet__paragraph {
  color: #fff;
  text-align: center;
  font-size: clamp(1px, 3.3vw, 65px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.001rem;
}
@media all and (max-width: 767px) {
  .quiet__paragraph {
    font-size: 9.5vw;
  }
}
.quiet__paragraph_black {
  color: #181818;
}
.quiet__description {
  margin: clamp(1px, 27vw, 518px) 0 0;
  font-weight: 600;
  font-size: clamp(1px, 1.25vw, 23px);
  line-height: 1.2;
  text-align: center;
}
@media all and (max-width: 767px) {
  .quiet__description {
    font-size: 4.5vw;
    margin: 115vw 0 0;
  }
}
.quiet__description._hide {
  transform: translateY(150%);
}

.mechanizm {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
  background: #000;
}
@media all and (max-width: 767px) {
  .mechanizm {
    height: unset;
  }
}
.mechanizm ._hide {
  opacity: 0;
  transform: translateY(-150%);
}
.mechanizm__video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .mechanizm__video {
    top: unset;
    width: 100%;
    height: unset;
  }
}
.mechanizm__container {
  position: relative;
  z-index: 2;
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .mechanizm__container {
    padding: 5vw 10px 100vw;
  }
}
.mechanizm__title {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 5.2vw, 108px);
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .mechanizm__title {
    font-size: 27vw;
  }
}
.mechanizm__title_bold {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 5.98vw, 115px);
  font-weight: 750;
  letter-spacing: -0.001rem;
  color: #e03638;
}
@media all and (max-width: 767px) {
  .mechanizm__title_bold {
    font-size: 18vw;
  }
}
.mechanizm__subtitle {
  margin: 2% 0 0;
  font-size: clamp(1px, 1.7vw, 33px);
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .mechanizm__subtitle {
    margin: 5vw 0 0;
    font-size: 7vw;
  }
}
.mechanizm__subtitle._hide {
  transform: translateY(150%);
}
.mechanizm__paragraph {
  margin: 3% 0 0;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1px, 1.2vw, 20px);
  line-height: 1.7;
}

@media (max-width: 1240px) {
  .mechanizm__paragraph {
    width: 32%;
  }
}
@media all and (max-width: 767px) {
  .mechanizm__paragraph {
    margin: 5vw 0 0;
    width: 100%;
    font-size: 4vw;
  }
}
.mechanizm__paragraph._hide {
  transform: translateY(150%);
}

.power {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .power {
    height: unset;
  }
}
.power ._hide {
  opacity: 0;
  transform: translatey(-150%);
}
.power__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .power__video {
    top: 0;
    left: -70vw;
    width: 200vw;
    height: unset;
  }
}
.power__container {
  position: relative;
  z-index: 2;
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .power__container {
    padding: 85vw 10px 5vw;
  }
}
.power__title {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 5.83vw, 112px);
  font-style: italic;
  font-weight: 750;
  letter-spacing: -0.001rem;
  line-height: 1;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .power__title {
    font-size: 18.5vw;
  }
}
.power__title_red {
  color: #e03638;
}
.power__subtitle {
  margin: 2.5% 0 0;
  font-size: clamp(1px, 1.7vw, 33px);
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .power__subtitle {
    margin: 5vw 0 0;
    font-size: 7vw;
  }
}
.power__subtitle._hide {
  transform: translateY(150%);
}
.power__paragraph {
  margin: 4% 0 0;
  width: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1px, 1.2vw, 20px);
  line-height: 1.7;
}
@media all and (max-width: 767px) {
  .power__paragraph {
    margin: 5vw 0 0;
    width: 100%;
    font-size: 4vw;
  }
}
.power__paragraph._hide {
  transform: translateY(150%);
}
.power__jap-text {
  font-size: clamp(1px, 6.07vw, 130px);
  line-height: 1;
  color: #e03638;
  text-align: right;
}
@media all and (max-width: 767px) {
  .power__jap-text {
    margin: 5vw 0 0;
    font-size: 20vw;
  }
}
.power__jap-text._hide {
  transform: translateY(150%);
}

.deep-massage {
  height: clamp(1px, 46.78vw, 900px);
  padding: 3% 0;
  background: #e03638;
}
@media all and (max-width: 767px) {
  .deep-massage {
    padding: 5vw 0;
    height: unset;
  }
}
.deep-massage__title {
  color: #181818;
  font-size: clamp(1px, 3.38vw, 65px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .deep-massage__title {
    font-size: 9vw;
  }
}
.deep-massage__title._hide {
  opacity: 0;
  transform: translateX(-50%);
}
.deep-massage__title_2 {
  color: #fff;
  text-align: right;
  font-size: clamp(1px, 4.68vw, 90px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 110.843%;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .deep-massage__title_2 {
    font-size: 8vw;
  }
}
.deep-massage__title_2._hide {
  opacity: 0;
  transform: translateX(50%);
}
.deep-massage__smooth-swiper {
  margin: clamp(1px, 3vw, 57px) 0 0;
}
@media all and (max-width: 767px) {
  .deep-massage__smooth-swiper {
    margin: 5vw 0 0;
  }
}
.deep-massage__smooth-swiper._hide {
  opacity: 0;
  transform: scale(0.5);
}
.deep-massage__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deep-massage__img {
  width: 100%;
}
.deep-massage__description-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: clamp(1px, 0.7vw, 15px);
  margin: clamp(1px, 3vw, 57px) 0 0;
}
@media all and (max-width: 767px) {
  .deep-massage__description-container {
    gap: 3vw;
    margin: 5vw 0 0;
  }
}
.deep-massage__icon {
  width: clamp(1px, 1.5vw, 30px);
}
@media all and (max-width: 767px) {
  .deep-massage__icon {
    width: 5vw;
  }
}
.deep-massage__description {
  font-size: clamp(1px, 1.25vw, 22px);
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .deep-massage__description {
    font-size: 4vw;
  }
}
.deep-massage .swiper-wrapper {
  transition-timing-function: linear !important;
}

.recovery {
  position: relative;
  background: #e03638;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .recovery {
    height: 399.065vw;
  }
}
.recovery::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url("/landings/y-massage-gun-max-pro/content/recovery/mob-arrows.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media all and (max-width: 767px) {
  .recovery::before {
    display: block;
  }
}
.recovery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2% 10px 0;
}
@media all and (max-width: 767px) {
  .recovery__container {
    padding: 5vw 10px;
  }
}
.recovery__title {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 6.35vw, 122px);
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.001rem;
  text-align: center;
  white-space: nowrap;
}
@media all and (max-width: 767px) {
  .recovery__title {
    white-space: normal;
    font-size: 13.3vw;
  }
}
.recovery__title_black {
  color: #181818;
}
.recovery__paragraph {
  margin: 1% 0 0;
  font-size: clamp(1px, 1.1vw, 19.8px);
  line-height: 1.2;
  text-align: center;
}
@media all and (max-width: 767px) {
  .recovery__paragraph {
    margin: 5vw 0 0;
    font-size: 4.5vw;
  }
}
.recovery__char-container {
  width: clamp(1px, 63vw, 1210px);
  margin: 3% 0 0;
  position: relative;
  flex: 1;
  background: no-repeat center bottom/auto 100% url("/landings/y-massage-gun-max-pro/content/recovery/bg-1920.webp?3");
}
@media all and (max-width: 767px) {
  .recovery__char-container {
    align-items: flex-end;
    display: flex;
    background: no-repeat center 62vw/100% auto url("/landings/y-massage-gun-max-pro/content/recovery/bg-320.webp?3");
    width: 100%;
    margin: 32vw 0 0;
    padding: 0;
  }
}
.recovery__description {
  position: absolute;
  font-size: clamp(1px, 1.1vw, 20px);
  line-height: 1.2;
}
@media all and (max-width: 767px) {
  .recovery__description {
    position: absolute;
    margin: 0;
    font-size: 4vw;
  }
}
.recovery__description_1 {
  top: clamp(1px, 4.32vw, 83px);
  left: 0;
}
@media all and (max-width: 767px) {
  .recovery__description_1 {
    text-align: right;
    top: -8vw;
    left: 25vw;
  }
}
.recovery__description_2 {
  top: clamp(1px, 15.62vw, 300px);
  left: 0;
}
@media all and (max-width: 767px) {
  .recovery__description_2 {
    top: 10vw;
    left: 24vw;
  }
}
.recovery__description_3 {
  top: clamp(1px, 27.12vw, 523px);
  left: 0;
}
@media all and (max-width: 767px) {
  .recovery__description_3 {
    top: 223vw;
    left: 1vw;
    text-align: left;
  }
}
.recovery__description_4 {
  top: clamp(1px, 4.42vw, 85px);
  right: 2%;
}
@media all and (max-width: 767px) {
  .recovery__description_4 {
    top: 35vw;
    right: 4vw;
  }
}
.recovery__description_5 {
  top: clamp(1px, 15.62vw, 300px);
  right: 0;
}
@media all and (max-width: 767px) {
  .recovery__description_5 {
    top: unset;
    bottom: 30vw;
    right: 2vw;
    width: 81%;
    text-align: right;
  }
}
@media all and (max-width: 767px) {
  .recovery__description_5 br {
    display: none;
  }
}
.recovery__y-logo_mob {
  display: none;
}
@media all and (max-width: 767px) {
  .recovery__y-logo_mob {
    display: block;
    width: 70%;
    margin-left: auto;
  }
}

.nozzles {
  height: clamp(1px, 46.78vw, 900px);
  background: #000;
}
@media all and (max-width: 767px) {
  .nozzles {
    height: unset;
  }
}
.nozzles__container {
  overflow: hidden;
  padding: 4% 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  .nozzles__container {
    padding: 5vw 10px;
  }
}
.nozzles__video-container {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  .nozzles__video-container {
    flex-direction: column;
  }
}
.nozzles__title-container {
  width: 57%;
}
@media all and (max-width: 767px) {
  .nozzles__title-container {
    width: 100%;
  }
}
.nozzles__title {
  white-space: nowrap;
  display: block;
  font-size: clamp(1px, 5.67vw, 109px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
  text-align: left;
}
@media all and (max-width: 767px) {
  .nozzles__title {
    font-size: 14vw;
  }
}
.nozzles__title._hide {
  opacity: 0;
  transform: translateX(-100%);
}
.nozzles__title_2 {
  white-space: nowrap;
  color: #e03638;
  font-size: clamp(1px, 4.37vw, 84px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
  text-align: right;
}
@media all and (max-width: 767px) {
  .nozzles__title_2 {
    font-size: 14vw;
  }
}
.nozzles__title_2._hide {
  opacity: 0;
  transform: translateX(100%);
}
.nozzles__video-swiper {
  overflow: hidden;
  width: clamp(1px, 24.37vw, 468px);
  aspect-ratio: 3/2;
  border-radius: clamp(1px, 0.7vw, 13px);
}
@media all and (max-width: 767px) {
  .nozzles__video-swiper {
    width: 100%;
    margin: 5vw 0 0;
    border-radius: 5vw;
  }
}
.nozzles__video-slide {
  height: 100%;
}
.nozzles__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.nozzles__device-swiper {
  transform: translateX(25%);
}
@media all and (max-width: 767px) {
  .nozzles__device-swiper {
    transform: unset;
  }
}
.nozzles__device-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  transform-origin: bottom center;
  transition: transform 0.3s linear;
}
@media all and (max-width: 767px) {
  .nozzles__device-slide {
    margin: 5vw 0 0;
  }
}
.nozzles__device-img {
  width: 100%;
}
@media all and (max-width: 767px) {
  .nozzles__device-img {
    width: 90%;
  }
}
.nozzles__paragraph {
  margin: 3% 0 0;
  font-size: clamp(1px, 0.7vw, 14px);
  line-height: 1.2;
  text-align: center;
  color: #b9b7b6;
  transition: color 0.3s linear;
}
@media all and (max-width: 767px) {
  .nozzles__paragraph {
    margin: 5vw 0 0;
    font-size: 5vw;
  }
}
.nozzles .swiper-slide-active {
  transform: scale(1.3);
}
@media all and (max-width: 767px) {
  .nozzles .swiper-slide-active {
    transform: unset;
  }
}
.nozzles .swiper-slide-active .nozzles__paragraph {
  font-size: clamp(1px, 0.8vw, 16px);
  color: #fff;
}
@media all and (max-width: 767px) {
  .nozzles .swiper-slide-active .nozzles__paragraph {
    margin: 5vw 0 0;
    font-size: 5vw;
  }
}

.warming-up {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
  background: linear-gradient(180deg, #d9d7d6 0%, #b9b7b6 100%);
}
@media all and (max-width: 767px) {
  .warming-up {
    height: unset;
  }
}
.warming-up__video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .warming-up__video {
    top: 40vw;
    height: unset;
    width: 100vw;
  }
}
.warming-up__container {
  position: relative;
  z-index: 2;
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .warming-up__container {
    padding: 5vw 10px;
  }
}
.warming-up__title {
  color: #181818;
  font-size: clamp(1px, 6.25vw, 120px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .warming-up__title {
    text-align: center;
    font-size: 17vw;
  }
}
.warming-up__title_red {
  color: #e03638;
}
.warming-up__subtitle {
  margin: 1% 0 0;
  font-weight: 700;
  font-size: clamp(1px, 1.2vw, 20px);
  line-height: 1.2;
  color: #181818;
}
@media all and (max-width: 767px) {
  .warming-up__subtitle {
    margin: 75vw 0 0;
    font-size: 5vw;
  }
}
.warming-up__paragraph {
  margin: clamp(1px, 3vw, 57px) 0 0;
  width: 26%;
  font-size: clamp(1px, 1.1vw, 20px);
  line-height: 1.7;
  color: #181818;
}
@media all and (max-width: 767px) {
  .warming-up__paragraph {
    margin: 5vw 0 0;
    width: 100%;
    font-size: 4vw;
    line-height: 1.3;
  }
}
.warming-up__jap-text {
  margin: clamp(1px, 1.5vw, 28px) 0 0;
  font-size: clamp(1px, 5.93vw, 114px);
  font-weight: 900;
  line-height: 1;
  color: #e03638;
}
@media all and (max-width: 767px) {
  .warming-up__jap-text {
    margin: 5vw 0 0;
    font-size: 20vw;
  }
}
.warming-up ._hide {
  opacity: 0;
  transform: translateX(-50%);
}

.elaboration {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .elaboration {
    height: unset;
  }
}
.elaboration__video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .elaboration__video {
    width: 150vw;
    height: unset;
    bottom: 0;
  }
}
.elaboration__container {
  position: relative;
  z-index: 2;
  padding: 2.5% 10px 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media all and (max-width: 767px) {
  .elaboration__container {
    padding: 5vw 10px 70vw;
    height: unset;
  }
}
.elaboration__title {
  color: #e03638;
  font-size: clamp(1px, 8.4vw, 162px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .elaboration__title {
    font-size: 20vw;
  }
}
.elaboration__title_2 {
  color: #fff;
  font-size: clamp(1px, 5.2vw, 100px);
  font-family: "Muller Next ExtraCond Trial";
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .elaboration__title_2 {
    font-size: 12.5vw;
  }
}
.elaboration__list {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: clamp(1px, 1.7vw, 35px);
  padding: clamp(1px, 1.7vw, 35px) 0;
}
@media all and (max-width: 767px) {
  .elaboration__list {
    margin: 5vw 0 0;
    width: 100%;
    padding: 2vw;
    gap: 2vw;
    border-radius: 1vw;
  }
}
.elaboration__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7%;
  width: 114%;
  height: 100%;
  background: rgba(19, 19, 19, 0.51);
  filter: blur(6.5px);
  border-radius: clamp(1px, 2.1vw, 41px);
}
.elaboration__list-elemet {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: clamp(1px, 1.7vw, 35px);
}
@media all and (max-width: 767px) {
  .elaboration__list-elemet {
    gap: 2vw;
  }
}
.elaboration__check-icon {
  width: clamp(1px, 1.7vw, 35px);
}
@media all and (max-width: 767px) {
  .elaboration__check-icon {
    width: 5vw;
  }
}
.elaboration__paragraph {
  font-weight: 600;
  font-size: clamp(1px, 0.9vw, 16px);
  line-height: 1.6;
}
@media all and (max-width: 767px) {
  .elaboration__paragraph {
    font-size: 4vw;
  }
}
.elaboration__circle-container {
  display: flex;
  gap: clamp(1px, 2vw, 38px);
  width: clamp(1px, 23vw, 440px);
}
@media all and (max-width: 767px) {
  .elaboration__circle-container {
    justify-content: center;
    gap: 7vw;
    margin: 5vw 0 0;
    width: 100%;
  }
}
.elaboration__circle-img {
  width: 40%;
}
.elaboration ._bold {
  font-weight: 900;
}
.elaboration ._hide {
  opacity: 0;
  transform: translateX(-50%);
}

.modes {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .modes {
    height: unset;
  }
}
.modes__swiper {
  position: absolute;
  z-index: 3;
  right: -2%;
  bottom: 0;
  height: clamp(1px, 46.78vw, 900px);
  width: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .modes__swiper {
    position: relative;
    width: 115vw;
    height: unset;
  }
}
.modes__slide {
  height: 100%;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .modes__slide {
    height: unset;
    width: 100%;
  }
}
.modes__container {
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .modes__container {
    padding: 5vw 10px 0;
  }
}
.modes__heading {
  width: 58%;
  font-weight: 700;
  font-size: clamp(1px, 1.1vw, 20px);
  line-height: 1.5;
}
@media all and (max-width: 767px) {
  .modes__heading {
    width: 100%;
    font-size: 4vw;
  }
}
.modes__list {
  width: 58%;
}
@media all and (max-width: 767px) {
  .modes__list {
    width: 100%;
  }
}
.modes__list-item {
  margin: clamp(1px, 2.6vw, 50px) 0 0;
}
@media all and (max-width: 767px) {
  .modes__list-item {
    margin: 5vw 0 0;
  }
}
.modes__description {
  font-size: clamp(1px, 1.1vw, 20px);
  line-height: 1.5;
}
@media all and (max-width: 767px) {
  .modes__description {
    font-size: 4vw;
  }
}
.modes ._hide {
  opacity: 0;
  transform: translateX(-50%);
}

.influence {
  height: clamp(1px, 46.78vw, 900px);
  background-color: #000000!important;
}


@media all and (max-width: 767px) {
  .influence {
    height: unset;
  }
}
@media (max-width: 767px) {
.influence .influence__main-img {
    max-width: 150%;
}
}
.influence__container {
  position: relative;
  height: 100%;
  padding: 3% 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 767px) {
  .influence__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 10px 0;
  }
}
.influence__title {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 18vw, 347px);
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.001rem;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .influence__title {
    font-size: 26vw;
  }
}
.influence__subtitle {
  position: relative;
  margin: clamp(1px, 3vw, 57px) 0 0;
  z-index: 2;
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 8.7vw, 168px);
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.001rem;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.75);
}
@media all and (max-width: 767px) {
  .influence__subtitle {
    margin: 0;
    font-size: 19.5vw;
  }
}
.influence__grid {
  margin: 1% 0 0;
  display: grid;
  grid-template-columns: repeat(2, 32%);
  justify-content: space-between;
  gap: clamp(1px, 1.6vw, 32px);
  width: 96%;
}
@media all and (max-width: 767px) {
  .influence__grid {
    grid-template-columns: 100%;
    gap: 5vw;
    margin: 3% 0 0;
  }
}
.influence__grid-element {
  display: flex;
  align-items: center;
  gap: clamp(1px, 1.25vw, 25px);
}
@media all and (max-width: 767px) {
  .influence__grid-element {
    gap: 5vw;
  }
}
.influence__icon {
  width: clamp(1px, 1.7vw, 35px);
}
@media all and (max-width: 767px) {
  .influence__icon {
    width: 5vw;
  }
}
.influence__description {
  font-size: clamp(1px, 0.78vw, 15px);
  line-height: 1.5;
}
@media all and (max-width: 767px) {
  .influence__description {
    font-size: 4vw;
  }
}
.influence__main-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  

}
@media all and (max-width: 767px) {
  .influence__main-img {
    position: static;
    width: 150%;
    height: unset;
    transform: unset;
  }
}

.recommendations {
  background: #02aab5;
  height: clamp(12px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .recommendations {
    height: unset;
  }
}
.recommendations__container {
  position: relative;
  padding: 3% 10px 0;
}
@media all and (max-width: 767px) {
  .recommendations__container {
    padding: 5vw 10px;
  }
}
.recommendations__title {
  font-family: "Cy Grotesk";
  font-weight: 800;
  font-size: clamp(12px, 3.5vw, 69px);
  line-height: 1.1;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .recommendations__title {
    font-size: 8.2vw;
    text-align: center;
  }
}
.recommendations__text-container {
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1vw, 19px);
  margin: clamp(12px, 4vw, 75px) 0;
}
@media all and (max-width: 767px) {
  .recommendations__text-container {
    margin: 32vw 0 0;
    width: 100%;
    margin-bottom: 15px;
  }
}
.recommendations__paragraph {
  font-weight: 300;
  font-size: clamp(1px, 1.2vw, 20px);
  line-height: 1.7;
}
@media all and (max-width: 767px) {
  .recommendations__paragraph {
    font-size: clamp(15px, 4vw, 20px);
  }
}
.recommendations__paragraph_6 {
  width: 60%;
}
@media all and (max-width: 767px) {
  .recommendations__paragraph_6 {
    margin: 5vw 0 0;
    width: 100%;
  }
}
.recommendations__element {
  display: flex;
  align-items: start;
}
.recommendations__check-img {
  margin: 0 5px 0 0;
  width: clamp(25px, 2vw, 36px);
}
.recommendations__video-container {
  position: absolute;
  bottom: clamp(1px, 9.5vw, 177px);
  left: 38.5%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .recommendations__video-container {
    margin: 10vw 0 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 90%;
  }
}
.recommendations__video-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 10%;
  height: 20%;
  transform: translate(-50%, -50%);
  background: no-repeat center/contain url("/images/landing/top-gun/recommendations/play.webp");
  transition: transform 0.3s ease-in;
}
.recommendations__video-container:hover::before {
  transform: translate(-50%, -50%) scale(1.1);
}
.recommendations__preview {
  position: relative;
  z-index: 1;
  width: clamp(100px, 35vw, 690px);
  transition: transform 0.3s ease;
}
@media all and (max-width: 767px) {
  .recommendations__preview {
    width: 100%;
  }
}
.recommendations__chechil-img {
  position: absolute;
  z-index: 3;
  width: 73%;
  bottom: -60%;
  right: -20%;
}
.recommendations ._hide {
  opacity: 0;
  transform: translateX(-50%);
}

.trainer {
  position: relative;
  width: 100%;
  height: 900px;
  padding-top: 30px;
  background: linear-gradient(180deg, #fff 0%, #e5e5e5 100%);
}

@media (max-width: 1240px) {
  .trainer .container-box {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .trainer {
    height: 100%;
    padding-bottom: 5vw;
  }
}
.trainer__container {
  display: flex;
  flex-direction: column;
}
.trainer__title-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0 13px;
}
@media all and (max-width: 767px) {
  .trainer__title-box {
    flex-direction: column;
    gap: 0;
  }
}
.trainer__title {
  display: flex;
  width: 100%;
  margin-bottom: 7px;
  color: #e03638;
  font-family: Muller Next ExtraCond Trial;
  font-size: 153.85px;
  font-style: italic;
  font-weight: 750;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 1240px) {
  .trainer__title { 
    font-size: 12.34vw;
  }
}
@media all and (max-width: 767px) {
  .trainer__title {
    font-size: 14.5vw;
  }
}
.trainer__title ._hide {
  opacity: 0;
  transform: translateX(-50%);
}
.trainer__title_color {
  color: #181818;
}
.trainer__title_color ._hide {
  opacity: 0;
  transform: translateX(50%);
}
@media all and (max-width: 767px) {
  .trainer__title_color {
    display: flex;
    margin-left: 44%;
  }
}
.trainer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 767px) {
  .trainer__box {
    flex-direction: column-reverse;
  }
}
.trainer__box-left {
  display: flex;
  flex-direction: column;
  width: 320px;
}
@media all and (max-width: 767px) {
  .trainer__box-left {
    width: 100%;
  }
}
.trainer__subtitle {
  display: inline-block;
  width: 100%;
  margin-bottom: 53px;
  color: #524c49;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 170%;
}
@media all and (max-width: 767px) {
  .trainer__subtitle {
    font-size: 4.4vw;
  }
}
.trainer__subtitle ._hide {
  opacity: 0;
  transform: translateX(250%);
}
.trainer__card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 46px;
}
@media all and (max-width: 767px) {
  .trainer__card {
    margin-bottom: 20px;
  }
}
.trainer__card:last-child {
  margin-bottom: 0px;
}
.trainer__img-card {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  padding-top: 5px;
}
.trainer__img-card ._hide {
  opacity: 0;
  transform: translateX(250%);
}
.trainer__text {
  color: #524c49;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 170%;
}
@media all and (max-width: 767px) {
  .trainer__text {
    font-size: 4.4vw;
  }
}
.trainer__text_weight {
  font-weight: 600;
}
.trainer__text_size {
  font-size: 20px;
}
@media all and (max-width: 767px) {
  .trainer__text_size {
    font-size: 4.4vw;
  }
}
@media all and (max-width: 767px) {
  .trainer__text_weight-mob {
    font-weight: 600;
  }
}
.trainer__box-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 1px;
  margin-right: 10px;
  width: 430px;
}
@media all and (max-width: 767px) {
  .trainer__box-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.trainer__text-container {
  display: flex;
  flex-direction: column;
  width: 313px;
  margin-right: 38px;
  gap: 38px 0;
}

@media (max-width: 1240px) {
  .trainer__text-container {
    margin-right: 0px;
  }

}
@media all and (max-width: 767px) {
  .trainer__text-container {
    width: 100%;
    gap: 10px;
    margin-bottom: 28px;
    margin: 0;
  }
}
.trainer__video {
  position: relative;
  width: 430px;
  height: 285px;
  border-radius: 25px;
  margin-right: 15px;
  margin-bottom: 50px;
  z-index: 21;
}
.trainer__video:hover {
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .trainer__video {
    width: 100%;
    border-radius: 20px;
    height: 57vw;
    margin: 0 0 23px;
  }
}
.trainer__video::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 57px;
  height: 55px;
  background-image: url("/landings/y-massage-gun-max-pro/content/trainer/polygon-1.2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 57px 55px;
  z-index: 222;
}
.trainer__img-video {
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-radius: 25px;
}
@media all and (max-width: 767px) {
  .trainer__img-video {
    border-radius: 20px;
    height: 57vw;
  }
}
.trainer__img-trainer {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-61%);
  width: 476px;
  height: 900px;
  z-index: 322;
}

/* @media (max-width: 1240px) {
  .trainer__img-trainer {
    width: 38.5455vw;
    height: 72.6vw;
    bottom: 0;
  } */
  
@media all and (max-width: 767px) {
  .trainer__img-trainer {
    position: static;
    width: 100%;
    transform: none;
    object-fit: cover;
    height: 110vw;
  }
}
.trainer .br-mob {
  display: none;
}
@media all and (max-width: 767px) {
  .trainer .br-mob {
    display: block;
  }
}

.gallery {
  position: relative;
  width: 100%;
}
@media all and (max-width: 767px) {
  .gallery__container {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 450px) {
  .gallery__slide {
    display: block;
  }
}
.gallery .swiper-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
@media all and (max-width: 767px) {
  .gallery .swiper-pagination {
    display: none;
  }
}
.gallery .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #fff !important;
  margin: 0 !important;
  opacity: 1 !important;
}
.gallery .swiper-pagination-bullet-active {
  background: #e03638 !important;
}

.accumulator {
  position: relative;
  height: clamp(1px, 46.78vw, 900px);
}
@media all and (max-width: 767px) {
  .accumulator {
    height: 125vw;
  }
}
.accumulator__video {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 90%;
  height: 90%;
  display: block;
  object-position: center;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .accumulator__video {
    top: unset;
    width: 100%;
    height: unset;
  }
}
.accumulator__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 10px 0;
}
@media all and (max-width: 767px) {
  .accumulator__container {
    padding: 5vw 10px;
  }
}
.accumulator__title {
  font-family: "Muller Next ExtraCond Trial";
  font-size: clamp(1px, 9.11vw, 175px);
  font-style: italic;
  font-weight: 750;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .accumulator__title {
    font-size: 15vw;
  }
}
.accumulator__description {
  margin: 1% 0 0;
  width: 70%;
  font-size: clamp(1px, 1.1vw, 20px);
  line-height: 1.2;
  text-align: center;
}
@media all and (max-width: 767px) {
  .accumulator__description {
    width: 100%;
    margin: 5vw 0 0;
    font-size: 4vw;
  }
}
